.app {
  padding: 20px 70px;
  max-width: 400px;
  margin: auto;
  margin-top: 80px;
  background-color: rgb(164, 188, 223);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
}

.add {
  padding: 10px 25px;
  background-color: rgb(94, 255, 0);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.add:hover {
  background-color: rgb(72, 195, 0);
}

.tasks {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-top: 25px;
}

.text {
  flex-grow: 1;
}

.actions {
  display: flex;
  gap: 80px;
}

.del {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(244, 67, 54);
  color: white;
}

.del:hover {
  background-color: rgb(200, 40, 35);
}
